{% extends "home/base.html" %}
{% block content %}
    <main class="page">
        <section class="clean-block features">
            <div class="container">
              <div class="card-body">

                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>نبذة سريعة ومختصرة على ما يمكن أن نفعله ..بالاضافه يمكنك ان تستعرض معرض الاعمال لترى مشاريع على أرض الواقع لتقريب الصورة قدر الامكان</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="far fa-chart-bar icon"></i>
                        <h4>Data Analysis And Business Analytic</h4>
                        <p>لدينا مجموعة رائعة من الادوات الخاصة بتحلgitيل البيانات وتحليل الاعمال&nbsp; فلدينا خلفية تجارية قوية ومجموعة الادوات البرمجية مثل بايثون والاحصاء&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-file-excel icon"></i>
                        <h4>Excel</h4>
                        <p>نوفر حلول متقدمة مثل Pivot-table , Advanced Function&nbsp;<br>بالاضافة الى امكانية الاكسيل بالغة برمجة لاعداد التقارير بشكل اوتوماتيك سواء كانت بايثون او vba او جافااسكربت</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fas fa-database icon"></i>
                        <h4>Database</h4>
                        <p>كل ما يتعلق بالاستعلام عن جداول البيانات&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>Automation</h4>
                        <p>الأمر لا يقتصر على الاستخدام مرة واحدة فقط نوفر حلول&nbsp; برمجية لاعداد هذه المهام مره اخرى بشكل اوتوماتيك كل ما عليك هو ادخال البيانات او ضبط الاعدادت التى تريدها</p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>{% endblock %}