{% extends "home/base.html" %}
{% block content %}
    <main class="page">
        <section class="clean-block features">
            <div class="container">


            <div class="row">
              <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vVml06UJ2wc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-4">
                    <div class="card">
                    <div class="card-body">
                        مشروع تسويقى 
                        Automate Your Business Activity (AYBA).
                        BY:Ahmed Maher 
                        Submit to Dr Reham
                    </div>
                    </div>
                </div>

            </div>
            <div class="card">

              <div class="card-body">

                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>نبذة سريعة ومختصرة على ما يمكن أن نفعله ..بالاضافه يمكنك ان تستعرض معرض الاعمال لترى مشاريع على أرض الواقع لتقريب الصورة قدر الامكان</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="far fa-chart-bar icon"></i>
                        <h4><strong>Data Analysis And Business Analytic</strong></h4>
                        <p>لدينا مجموعة رائعة من الادوات الخاصة بتحليل البيانات وتحليل الاعمال
                         فلدينا خلفية تجارية قوية ومجموعة الادوات البرمجية مثل بايثون باالاضافة الى خلفية فى الاحصاء</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-file-excel icon"></i>
                        <h4><strong>Excel</strong></h4>
                        <p>نوفر حلول متقدمة مثل Pivot-table , Advanced Function&nbsp;<br>بالاضافة الى امكانية الاكسيل بالغة برمجة لاعداد التقارير بشكل اوتوماتيك سواء كانت بايثون او vba او جافااسكربت</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fas fa-database icon"></i>
                        <h4><strong>Database</strong></h4>
                        <p>كل ما يتعلق بالاستعلام عن جداول البيانات&nbsp;</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4><strong>Automation</strong></h4>
                        <p>الأمر لا يقتصر على الاستخدام مرة واحدة فقط نوفر حلول&nbsp; برمجية لاعداد هذه المهام مره اخرى بشكل اوتوماتيك كل ما عليك هو ادخال البيانات او ضبط الاعدادت التى تريدها</p>
                    </div>
                </div>
            </div>
            </div>
                        </div>

        </section>
    </main>{% endblock %}